@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px;
  margin-top: 8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
}

.header{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}
.footer{
  display: flex;
  position:fixed;
  background-color: #eee;
  align-items:flex-end;
  justify-content: space-between;
  padding: 16px ;
  height: 52px;
  bottom: 0;
  right: 0;
  left: 0;
 

}

ul{
  list-style: none;;
  display: flex;
  gap: 16px;
}
a{
  color: #000;
  text-decoration: none;
}