body {
  background: #eee;
  font-family: sans-serif;
  padding: 12px;
  margin: 32px;

}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;



}
.title,.content,.button-container{
   padding: 6px;
  

}
.title {
  background: #e3f4ff;
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;



}

.content {
  background: #e3f4ff;
  margin-top:5px;

}

.button-container {
  background: #e3f4ff;
  border: 1px solid #eee;
  text-align: center;
  margin-top: 5px;


}

button {
  background: #fff;
  border: 1px solid #eee;

  display: block;
  margin: 0 auto;


}